.games {
  padding: 20px 60px;
  width: 1200px;
  margin: 0 auto;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

.games__title {
  font-size: 24px;
}

.games__form {
  display: flex;
  align-items: end;
}

.games__label {
  width: 100%;
  font-size: 14px;
}

.games__input {
  width: 100%;
  height: 32px;
  display: block;
  border: 0.5px solid #000000;
  border-radius: 4px;
}

.games__submit {
  margin-left: 8px;
  width: 75px;
  height: 32px;
  text-align: center;
  color: #fff;
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

.games__inner {
  display: flex;
}

.games__results {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
}

.games__item {
  margin-bottom: 10px;
  max-width: 272px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 24px;
}

.games__item:not(:nth-child(3n)) {
  margin-right: 10px;
}

.games__item_top {
  padding: 8px;
  background: #bdbcff;
  color: #fff;
}

.games__item_title {
  margin: 0;
  margin-bottom: 78px;
  font-weight: normal;
}

.games__item_price {
  text-align: right;
}

.games__item_bottom {
  padding: 16px;
}

.games__item_text {
  margin-bottom: 8px;
  font-size: 13px;
  line-height: 15px;
}

.games__item_add {
  padding: 8px;
  width: 100%;
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}

.games__line {
  margin-right: 10px;
  width: 0.5px;
  background-color: #000;
}

.game__filters_label {
  display: block;
}

.input-range {
  -webkit-appearance: none;
  width: 100%;
  background: transparent;
}

.input-range {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

.input-range:focus {
  outline: none;
}

.input-range::-webkit-slider-runnable-track {
  width: 139px;
  height: 4px;
  cursor: pointer;
  background: var(--accent-color);
  border-radius: 50px;
}

.input-range::-webkit-slider-thumb {
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border: 0.5px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 100%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -6px;
}

.input-range:focus::-webkit-slider-runnable-track {
  background: var(--accent-color);
}

.input-range__value {
  margin-top: -5px;
  text-align: center;
}

.filter__heading {
  margin-top: 10px;
  margin-bottom: 15px;
}

.filter__apply {
  margin-top: 10px;
  padding: 8px;
  width: 100%;
  background: #6c69ff;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  color: #fff;
  border: none;
  cursor: pointer;
}
