<div class="profile">
  <div class="profile__title">
    Profile
  </div>
  <form action="#" class="profile__form">
    <label class="profile__label">
      Username
      <input type="text" name="username" class="profile__input">
    </label>
    <label class="profile__label">
      Email
      <input type="email" name="email" class="profile__input">
    </label>
    <label class="profile__label">
      Age
      <input type="text" name="age" class="profile__input">
    </label>
    <button type="submit" class="profile__submit">
      Save
    </button>
  </form>
</div>
